<nav class="navbar shadow navbar-expand-lg " style="background-color: var(--tastyred);">
    <a class="navbar-brand text-light ps-2" routerLink="/homepage">
        <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg class="ghost" width="36" height="36" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path style="fill:#DBDDF6;"
                        d="M256.001,0C157.616,0,77.576,80.041,77.576,178.424v258.582c0,41.351,33.641,74.994,74.991,74.994
	c20.038,0,38.251-7.916,51.716-20.765C217.748,504.084,235.961,512,255.999,512c20.038,0,38.251-7.916,51.717-20.765
	c13.467,12.85,31.68,20.765,51.718,20.765c41.349,0,74.989-33.641,74.989-74.994V178.424C434.423,80.041,354.384,0,256.001,0z" />
                    <path style="fill:#C4C8F2;" d="M256.033,0.002V512c20.024-0.009,38.226-7.922,51.684-20.765
	c13.467,12.85,31.68,20.765,51.718,20.765c41.349,0,74.989-33.641,74.989-74.994V178.424
	C434.423,80.052,354.401,0.019,256.033,0.002z" />
                    <path style="fill:#59585C;" d="M209.455,201.696H193.94c-12.853,0-23.273-10.42-23.273-23.273s10.42-23.273,23.273-23.273h15.515
		c12.853,0,23.273,10.42,23.273,23.273S222.308,201.696,209.455,201.696z" />
                    <path style="fill:#59585C;" d="M318.061,201.696h-15.515c-12.853,0-23.273-10.42-23.273-23.273s10.42-23.273,23.273-23.273h15.515
		c12.853,0,23.273,10.42,23.273,23.273S330.914,201.696,318.061,201.696z" />
                    <path style="fill:#59585C;" d="M256.001,302.546c-12.853,0-23.273-10.42-23.273-23.273v-15.515
		c0-12.853,10.42-23.273,23.273-23.273c12.853,0,23.273,10.42,23.273,23.273v15.515
		C279.273,292.126,268.853,302.546,256.001,302.546z" />
                </svg> Skillprofile
    </a>

    <div class="navbar-nav ">
        <a class="nav-item nav-link text-light" routerLink="/profileSearch">Profilsuche</a>
        <a class="nav-item nav-link text-light" routerLink="/roleChanger">Adminansicht</a>
        <a class="nav-item nav-link text-light" routerLink="/skillprofilePreview/">Eigenes Profil</a>
        <a class="nav-item nav-link text-light" href="#" (click)="logout()">Logout</a>
    </div>

    <!--
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-light"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" routerLink="/homepage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" routerLink="/profileSearch">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" routerLink="/roleChanger">Adminansicht</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="logoutButton()" class="nav-link text-light">Logout</a>
                    </li>
                </ul>
            </div>

            -->

</nav>
<br>