<div class="container-fluid row justify-content-center p-0 m-0">
    <div class="col-8 row justify-content-center p-0 m-0">
        <div class="shadow col-8 p-4 bg-light">
            <div *ngIf="profile != null">
                <app-contactinfo-edit [info]="profile.skillprofile.general" [personalData]="profile.accountInfo"
                    #contactinfo (outputFromChild)="receiveFormdData($event)"></app-contactinfo-edit>
                <br>
                <app-key-strengthsinfo-edit [keyStrengths]="profile.skillprofile.keyStrengths" #keystrengthsinfo
                    (outputFromChild)="receiveFormdData($event)"></app-key-strengthsinfo-edit>
                <br>
                <app-projectinfo-edit [projectlist]="profile.skillprofile.projects" #projectsinfo
                    (outputFromChild)="receiveFormdData($event)"></app-projectinfo-edit>
                <br>
                <app-technology-methodeinfo-edit [skillslist]="profile.skillprofile.skills" #skillsinfo
                    (outputFromChild)="receiveFormdData($event)"></app-technology-methodeinfo-edit>
                <br>
                <app-education-edit [qualifications]="profile.skillprofile.qualifications" #educationsinfo
                    (outputFromChild)="receiveFormdData($event)"></app-education-edit>
                <br>
                <!-- Btn disabled wenn etwas in der innerhalb der Form ungültig ist -->
                <button class="btn btn-danger" type="submit" (click)="onSubmit()" [disabled]="">
                    <svg class="invert-color" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px"
                        viewBox="0 0 407.096 407.096" style="enable-background:new 0 0 407.096 407.096;"
                        xml:space="preserve">
                        <g>
                            <g>
                                <g>
                                    <path d="M402.115,84.008L323.088,4.981C319.899,1.792,315.574,0,311.063,0H17.005C7.613,0,0,7.614,0,17.005v373.086
			c0,9.392,7.613,17.005,17.005,17.005h373.086c9.392,0,17.005-7.613,17.005-17.005V96.032
			C407.096,91.523,405.305,87.197,402.115,84.008z M300.664,163.567H67.129V38.862h233.535V163.567z" />
                                    <path d="M214.051,148.16h43.08c3.131,0,5.668-2.538,5.668-5.669V59.584c0-3.13-2.537-5.668-5.668-5.668h-43.08
			c-3.131,0-5.668,2.538-5.668,5.668v82.907C208.383,145.622,210.92,148.16,214.051,148.16z" />
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span> Speichern</span>
                </button>
                <button class="offset-1 outlineBtn btn btn-outline-primary" role="button">
                    <span routerLink="/skillprofilePreview">Vorschau</span>
                </button>
            </div>
        </div>
    </div>
</div>