<div class="card shadow">
    <h2 class="card-header"> Ausbildung und Berufserfahrung

        <button class="btn btn-outline-dark float-end" data-bs-toggle="collapse" data-bs-target="#education"
            aria-expanded="true" aria-controls="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </button>

    </h2>
    <div class="card-body show" id="education">
        <div class="card-body">
            <form [formGroup]="educationsForm">
                <div formArrayName="educations">
                    <div class="row" *ngFor="let education of educations.controls; let i = index"
                        [formGroupName]="i">
                        <div class="row gx-1">

                            <!-- Ausbildungsstelle -->
                            <div class="col-6">
                                <div class="form-floating">
                                    <input 
                                        type="text" 
                                        placeholder="" 
                                        id="projectname1" 
                                        class="form-control"
                                        maxlength="64"
                                        formControlName="place">
                                    <label for="projectname1" class="form-label"> Ausbildungstelle </label>
                                </div>
                            </div>
                            
                            <div class="col-5">
                                <div class="input-group pb-2"> 

                                    <!-- Startdatum -->
                                    <div class="form-floating">
                                        <input 
                                            type="date" 
                                            placeholder="" 
                                            id="start-date" 
                                            class="form-control"
                                            formControlName="start">
                                        <label for="start-date" class="form-label"> Startdatum </label>
                                    </div>

                                    <!-- Enddatum -->
                                    <div class="form-floating">
                                        <input 
                                            type="date" 
                                            placeholder="" 
                                            id="end-date" 
                                            class="form-control"
                                            formControlName="end">
                                        <label for="end-date" class="form-label"> Enddatum </label>
                                    </div>
                                </div>
                            </div>

                            

                            <!-- Mülleimerbutton -->
                            <div class="col-1">
                                <button class="trashcanBtn stretch" (click)="removeEducation(i)">
                                    <svg class="invert-color" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        viewBox="0 0 24 24">
                                        <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <!-- Beschreibung -->
                        <div class="form-floating gx-1">
                            <input 
                                type="text" 
                                placeholder="" 
                                id="beschreibung" 
                                class="form-control"
                                maxlength="1024"
                                formControlName="info">
                            <label for="beschreibung" class="form-label"> Beschreibung </label>
                            <br>
                        </div>
                            
                        <br>
                        <hr>
                    </div>
                </div>
            </form>
        </div>

        <!-- Plusbutton -->
        <button class="addButton me-2" (click)="addEducation('')">
            <img src="https://img.icons8.com/ios-glyphs/24/FFFFFF/plus--v1.png" />
        </button>
    
    </div>
</div>
<!--<pre>Form Values: {{educationsForm.value | json}}</pre>-->