<div class="row">
    <!-- ToDo: Bild Hochladen und anzeigen plus Platzhalter mit Anfangsbuchstaben der Namen -->
    <div class="col-0">
        <!-- <img class="shadow" src="https://thispersondoesnotexist.com/image"> -->
        <!-- <h1 id="picPlaceholder"></h1> -->
        <!-- <hr> -->
        <!-- <button class="offset-2 outlineBtn uploadPic"> Bild hochladen</button> -->
    </div>
    <div class="col-12">
        <div class="card shadow">

            <h2 class="card-header text-bg-dark">Kontaktinformationen</h2>
            <div class="card-body">
                <form [formGroup]="contactinfoForm">
                    <!-- job -->
                    <div class="form-floating">
                        <input 
                            type="text" 
                            placeholder=""
                            id="job" 
                            class="form-control"
                            maxlength="64"
                            autofocus
                            formControlName="job">
                        <label for="job" class="form-label"> Jobbezeichnung </label>
                    </div>
                    <hr>

                    <div class="input-group pb-2">
                        <!-- company -->
                        <div class="form-floating">
                            <input 
                                type="text" 
                                placeholder="" 
                                id="company" 
                                class="form-control" 
                                maxlength="64"
                                formControlName="company">
                            <label for="company" class="form-label"> Firma </label>
                        </div>

                        <!-- city -->
                        <div class="form-floating">
                            <input 
                                type="text" 
                                placeholder="" 
                                id="location" 
                                class="form-control" 
                                maxlength="64"
                                formControlName="city">
                            <label for="location" class="Stadt"> Standort </label>
                        </div>
                    </div>

                    <div class="input-group pb-2">
                        <!-- birthday 
                        <div class="form-floating">
                            <input 
                                type="date" 
                                placeholder="" 
                                id="birthday" 
                                class="form-control"
                                formControlName="birthday">
                            <label for="birthday" class="form-label"> Geburtsdatum </label>
                        </div>-->

                        <!-- nationality -->
                        <div class="form-floating">
                            <input type="text" placeholder="" id="nationality" class="form-control" maxlength="64"
                                formControlName="nationality">
                            <label for="nationality" class="form-label"> Staatsangehörigkeit </label>
                        </div>
                    </div>

                    <hr>

                    <!-- mail -->
                    <div class="form-floating pb-2">
                        <input 
                            type="email" 
                            placeholder="" 
                            id="mail"
                            class="form-control"
                            maxlength="64"
                            formControlName="email">
                        <label for="mail" class="form-label"> Kontakt E-Mail</label>

                        <!-- infotexts validation -->
                        <div [hidden]="!email.hasError('pattern')">
                            Dies ist keine valide E-Mail.
                        </div>
                    </div>

                    <!-- phonenumber -->
                    <div class="form-floating">
                        <input type="text" placeholder="" id="phonenumber" class="form-control" maxlength="64"
                            formControlName="phone">
                        <label for="phonenumber" class="form-label"> Telefonnummer</label>
                        
                        <!-- infotexts validation -->
                        <div [hidden]="!phone.hasError('pattern')">
                            Diese Nummer ist ungültig. Erwartetes Format: +42 12345 oder +4212345!
                        </div>
                    </div>

                    <!-- ToDo: Links zu weiteren Accounts die relevant für das Profil sind einfügen und entfernen können
                    <p> Gib hier weitere Profile von dir an!</p>
                    <button class="btn btn-outline-dark me-2">
                        <img src="https://img.icons8.com/ios-glyphs/24/000000/github.png" />
                    </button>
                    <button class="btn btn-outline-dark me-2">
                        <img src="https://img.icons8.com/ios-filled/24/000000/youtube-play.png" />
                    </button>
                    <button class="btn btn-outline-dark me-2">
                        <img src="https://img.icons8.com/ios-glyphs/24/000000/twitter--v1.png" />
                    </button>
                    <button class="btn btn-outline-dark me-2">
                        <img src="https://img.icons8.com/ios-glyphs/24/000000/linkedin-circled--v1.png" />
                    </button>
                    <button class="btn btn-outline-dark me-2">
                        <img src="https://img.icons8.com/ios-glyphs/24/000000/facebook-new.png" />
                    </button>
                    <button class="btn btn-outline-dark me-2">
                        <img src="https://img.icons8.com/ios/24/000000/plus--v1.png" />
                    </button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!--<pre>Form Values: {{contactinfoForm.value | json}}</pre>-->