<div class="row">
    <div class="offset-3 col-6 borderbox">
        <!--roter Rahmen-Hintergrund innen-->
        <div class="col card shadow p-2 m-2">
            <!--weißer Hintergrund innen-->
            <div class="card-body p-3 m-2">
                <div class="text-center">

                    <h1>Anmelden</h1><br>

                    <div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-outline">

                            <!-- Input: !! Mail !! -->
                            <div class="mb-4 form-floating">
                                <input formControlName="mail" type="email" id="email"
                                    class="form-control form-control-lg" placeholder="email" />
                                <label for="email">E-Mail</label>
                            </div>

                            <!-- Input: !! Password !! -->
                            <div class="mb-4 form-floating">
                                <input formControlName="password" type="password" autocomplete="new-password" id="pwd"
                                    class="form-control form-control-lg" placeholder="passwort" />
                                <label for="pwd">Passwort</label>

                                <!-- <p align="left"><a class="text-secondary">Passwort vergessen</a></p> -->

                            </div>

                            <div class="alert alert-danger" *ngIf="failedLogin">
                                Login fehlgeschlagen: Falsche Anmeldedaten
                            </div>

                            <!-- <div class="form-check col-8 offset-2"> -->
                            <!-- <input type="checkbox" id="chekrem" class="form-check-input" /> -->
                            <!-- <label for="checkrem">Anmeldedaten merken</label> -->
                            <!-- </div> -->
                            <!-- <br> -->
                            <button class="btn btn-lg btn-secondary btn-block" type="submit">
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>