<div class="card shadow ">
    <h2 class="card-header">Hauptfähigkeiten
        <button class="btn btn-outline-dark float-end " data-bs-toggle="collapse" data-bs-target="#keystrengths-card"
            aria-expanded="true" aria-controls="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </button>
    </h2>
    <div class="card-body show " id="keystrengths-card">

        <form [formGroup]="keystrengthsinfoForm">
            <div formArrayName="strengths">
                <div *ngFor="let strength of strengths.controls; let i = index" [formGroupName]="i">
                    <div class="row gx-1">
                        <!-- Fähigkeit N -->
                        <div class="form-floating pb-2 col-11">
                            <textarea 
                                class="form-control" 
                                id="exampleFormControlTextarea1" 
                                rows="1" 
                                maxlength="512"
                                formControlName="strength" ></textarea>
                            <label for="exampleFormControlTextarea1">Fähigkeit {{i + 1}}</label>
                        </div>

                        <!--Mülleimer Button: ein Fähigkeiten Input löschen
                            Soll nur bei den Inputfeldern generiert werden, welche extra Hinzugefügt wurden-->
                        <div class="col-1" *ngIf="checkRemoveBtnCondition(i)">
                            <button class="btn-lg stretch trashcanBtn" id="keystrengthsTcBtn" (click)="removeStrength(i)">
                                <svg class="invert-color" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                    <path
                                        d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Plus Button: weitere Fähigkeiten Input hinzufügen-->
        <div *ngIf="!(this.strengths.length == 5)">
            <button class="addButton me-2" id="addStrengthBtn" (click)="addStrength('')">
                <img src="https://img.icons8.com/ios-glyphs/24/FFFFFF/plus--v1.png" />
            </button>
        </div>
        

    </div>
</div>
<!--<pre>Form Values: {{keystrengthsinfoForm.value | json}}</pre>-->