<div class="card shadow">
    <h2 class="card-header ">
        Qualifikationen und Kenntnisse

        <button class="btn btn-outline-dark float-end" data-bs-toggle="collapse" data-bs-target="#techinfo"
            aria-expanded="true" aria-controls="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </button>
    </h2>
    <div class="card-body show" id="techinfo">

        <div class="row gx-1">

            <!-- Bezeichnung -->
            <div class="col-7">
                <b>Bezeichnung</b>
            </div> 

            <!-- Bewertung -->
            <div class="btn-group" class="col-3 wertungsTitel">
                <b>Wertung</b>
            </div>

            <!-- Zeitraum
            <div class="col-2">
                <b>Zeitraum</b>
            </div>  -->
        </div>
          <br>
        <form [formGroup]="skillsForm">
            <div formArrayName="skills">
                <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i">
                    <div class="row gx-1">
                        <!-- Bezeichnung -->
                        <div class="col-7">
                            <input 
                                type="text" 
                                placeholder="" 
                                id="company" 
                                class="form-control"
                                maxlength="64"
                                formControlName="skill">
                        </div>      
                        <!-- Bewertung -->
                        <div class="btn-group" class="col-3 wertungsSlider">
                            <mat-slider 
                                id={{i}}
                                step="1" 
                                min="1" 
                                max="5" 
                                thumbLabel 
                                tickInterval="1"
                                value="3"
                                (change)="onRatingChange($event)"
                                formControlName="rating">
                            </mat-slider>
                            <!-- Bewertungswert Anzeige -->
                            <b id="ratingValue{{i}}"> 1 </b>
                            
                            <!-- Wertungsinfo Popover -->
                            <svg 
                                [ngbPopover]="Wertungsinfo"
                                triggers="mouseenter:mouseleave"
                                popoverTitle="Infos zur Wertungsgewichtung"
                                xmlns="http://www.w3.org/2000/svg" 
                                width="16" 
                                height="16" 
                                style = "position:relative; left:10px;"
                                fill="currentColor" 
                                class="bi bi-info-circle">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            <!-- Wertungsinfo Text für Popover -->
                            <ng-template #Wertungsinfo>Höchste Wertung = 5<br>Niedgrigste Wertung = 1</ng-template>

                        </div>

                        <!-- Zeitraum 
                        <div class="col-2">
                            <input
                                type="text" 
                                placeholder="" 
                                id="company" 
                                class="form-control"
                                maxlength="32"
                                formControlName="timeperiod">
                        </div> -->

                       
                        <!-- Mülleimerbutton -->
                        <div class="col-1 offset-1 gx-1">
                            <button class="trashcanBtn stretch" id="qualificationTcBtn" (click)="removeSkill(i)">
                                <svg class="invert-color" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                    <path
                                    d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <br>
        <button class="addButton me-2" (click)="addSkill('')">
            <img src="https://img.icons8.com/ios-glyphs/24/FFFFFF/plus--v1.png" />
        </button>            
    </div>
</div>
<!--<pre>Form Values: {{skillsForm.value | json}}</pre>-->