.wertungsTitel{
    position: relative; 
    left: 30px;
}

/* Wertungsslider */
.wertungsSlider {
    position: relative; 
    left: 30px;
}

/* Infos */
.skillScaleInfo {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .skillScaleInfo .skillScaleInfoText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .skillScaleInfo:hover .skillScaleInfoText {
    visibility: visible;
  }

  