<div class="btn-group">
    <button class="btn btn-outline-primary">1</button>
    <button class="btn btn-outline-primary">2</button>
    <button class="btn btn-outline-primary">3</button>
    <button class="btn btn-outline-primary">4</button>
    <button class="btn btn-outline-primary">5</button>
</div>