<div class="container-fluid row justify-content-center p-0 m-0">
    <div class="col-8 row justify-content-center p-0 m-0">
        <div class="shadow col-8 p-4 bg-light">
            <div *ngIf="profile != null">
                <app-contactinfo [info]="profile.skillprofile.general" [personalData]="profile.accountInfo">
                </app-contactinfo>
                <br>
                <app-key-strengthsinfo [keyStrengths]="profile.skillprofile.keyStrengths"></app-key-strengthsinfo>
                <br>
                <app-projectinfo [projects]="profile.skillprofile.projects"></app-projectinfo>
                <br>
                <app-technology-methodeinfo [skills]="profile.skillprofile.skills"></app-technology-methodeinfo>
                <br>
                <app-education [qualifications]="profile.skillprofile.qualifications"></app-education>
                <br>
                <div class="row">
                    <!-- PDF Download Button -->
                    <div class="col-2">
                        <button class="btn btn-danger" (click)="getPDF()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-download" viewBox="0 0 16 16">
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                            </svg>
                            <span> PDF</span>
                        </button>
                    </div>
                    <!-- Profil bearbeiten Button -->
                    <div class="col-3">
                        <button routerLink="/skillprofileEdit" id="editButton" class="btn">
                            <img class="invert-color" src="https://img.icons8.com/ios-glyphs/16/null/pencil--v1.png" />
                            <span> Bearbeiten</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>