<div class="container bg-light p-0" *ngIf="accounts != null || roleChanges != null">
    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th style="width: 40%;" scope="col">Username</th>
                <th style="width: 30%;" scope="col">Name</th>
                <th style="width: 20%;" scope="col">Rolle</th>
                <th style="width: 10%;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts; let index = index">
                <th scope="col">{{ account.username }}</th>
                <td>{{ account.firstname }} {{ account.surname }}</td>
                <td>
                    <select class="form-select" [(ngModel)]="roleChanges[index]" value="{{ account.role }}">
						<option value="admin">Admin</option>
						<option value="pm">Projektmanager</option>
						<option value="user">Nutzer</option>
					</select>
                </td>
                <td>
                    <button *ngIf="roleChanges[index] != accounts[index].role" class="btn btn-danger" (click)="saveRoleChange(account, roleChanges[index], index)">
						Ändern
					</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>