<div class="container-fluid p-0 m-0 row justify-content-center">
    <div class="row col-8 justify-content-center">
        <div class="card col-8">
            <h1 class="card-header">
                Registrierung
            </h1>

            <div class="card-body">

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-outline">

                    <!-- Input: Vorname und Nachname  -->
                    <div class="input-group">

                        <span class="input-group-text">
                            Vorname, Nachname
                        </span>
                        <!-- Input: !! Vorname !! -->
                        <input formControlName="firstname" type="text" id="firstname"
                            class="form-control form-control-lg" />

                        <!-- Input: !! Nachname !! -->
                        <input formControlName="surname" type="text" id="surname"
                            class="form-control form-control-lg" />


                    </div>

                    <!-- Validierung: !! Nachname und Vorname !!, wird erst angezeigt, sobald damit interagiert wurde -->
                    <small *ngIf="(surname.invalid || firstname.invalid) && (surname.dirty || firstname.dirty)">
                        Bitte gib deinen vollständigen Namen an
                    </small>



                    <!-- Input: !! Birthday !! -->
                    <div class="input-group mt-4">
                        <span class="input-group-text">Geburtsdatum</span>
                        <input formControlName="birthday" type="date" id="birthday"
                            class="form-control form-control-lg" />
                    </div>

                    <!-- Input: !! Mail !! -->
                    <div class="input-group mt-4">
                        <span class="input-group-text">E-Mail Address</span>
                        <input formControlName="mail" placeholder="example@example.com" type="email" id="email"
                            class="form-control form-control-lg" />
                    </div>

                    <!-- Validierung: !! Mail !!, wird erst angezeigt, sobald damit interagiert wurde -->
                    <div *ngIf="(mail.invalid) && (mail.dirty)">
                        <small *ngIf="mail.errors?.['email'] ">
                            Bitte gib eine richtige E-Mail an
                        </small>
                    </div>

                    <!-- Input: !! Passwort !!  -->
                    <div class="input-group mt-4">
                        <span class="input-group-text">Passwort</span>
                        <input formControlName="password" autocomplete="new-password" placeholder="Passwort"
                            type="password" id="pwd" class="form-control form-control-lg" />
                    </div>

                    <!-- Validierung: !! Password !!, wird erst angezeigt, sobald damit interagiert wurde -->
                    <div *ngIf="(password.invalid ) && (password.dirty || password.touched)">
                        <small *ngIf="password.errors?.['minlength']">
                            Das Passwort muss mindestens 8 Zeichen lang sein
                        </small>
                        <small *ngIf="password.errors?.['pattern']">
                            Das Password entspricht nicht dem Muster
                        </small>
                    </div>

                    <!-- Input: !! Passwort !!  -->
                    <div class="input-group mt-4">
                        <span class="input-group-text">Passwort</span>
                        <input formControlName="password2" type="password" id="pwd2"
                            class="form-control form-control-lg" placeholder="Passwort wiederholen" />
                    </div>

                    <!-- Validierung: !! Password Wiederholung !!, wird erst angezeigt, sobald damit interagiert wurde -->

                    <small *ngIf="(password.value != password2.value) && (password2.dirty || password2.touched)">
                        Die Passwörter müssen übereinstimmen
                    </small>


                    <!-- Input: Rollenauswahl  
                <div class="input-group mt-4">
                    <select required class="form-select" aria-label="Default select example">
                        <option selected disabled>Wähle deine Rolle</option>
                        <option value="User">Nutzer</option>
                        <option value="Projectmanager">Projektleiter</option>
                    </select>
                </div>
                -->

                    <button class="btn btn-lg btn-secondary offset-10 mt-4" type="submit"
                        style="background-color: #610020;"
                        [disabled]="registerForm.invalid || (password.value != password2.value)">Registrieren</button>
                </form>
            </div>
        </div>
    </div>
</div>