/* Colour Palette */
:root {
    --darkcyan: #005780;
    --deeporange: #e98100;
    --tastyred: #610020;
  }
  


/* You can add global styles to this file, and also import other style files */

.card-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 21px !important;
}



body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: linear-gradient(135deg, #1e2124 25%, transparent 25%), linear-gradient(225deg, #1e2124 25%, transparent 25%), linear-gradient(45deg, #1e2124 25%, transparent 25%), linear-gradient(315deg, #1e2124 25%, #282b30 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

.borderbox {
    background-color: var(--tastyred);
    padding: 25px;
}


/* material slider */
.mat-accent .mat-slider-track-fill, .mat-slider-thumb-label, .mat-slider-thumb {
    background-color: var(--tastyred) !important;
}

#picPlaceholder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--tastyred);
    font-size: 80px;
    color: #fff;
    text-align: center;
    line-height: 200px;
}
.collapseToggle :hover {
    background-color: var(--tastyred);
}


/* Buttons */
.addButton {
    width: 50px;
    height: 40px;
    border: #fff;
    border-radius: 20%;
    background-color: var(--darkcyan);
}
.addButton:hover{
    filter: brightness(90%);
}

.uploadPic {
    color: #fff;
    background-color: var(--darkcyan);
}

.outlineBtn {
    background-color: transparent;
    border: 2px solid var(--darkcyan) !important;
    font-size: 18px;
    color: var(--darkcyan);
    min-width: 110px;
    height: 45px;
}
.outlineBtn:hover {
    color: #fff;
    background-color: var(--darkcyan) !important;
}


/* Trashcan Buttons */
.trashcanBtn {
    background:  var(--deeporange);
    border: 1px solid  var(--deeporange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    width: 45px;
}
.trashcanBtn:hover {
    filter: brightness(90%);
}
#qualificationTcBtn {
    height: 38px;
}
#keystrengthsTcBtn {
    height: 58px;
}

/* extras */
.ghost {
    transition: transform 0.75s;
}
.ghost:hover {
    transform: rotate(360deg);
}

.invert-color{
    -webkit-filter: invert(1);
}