#profileBrowser {
    max-height: 800px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scrollbar-color: #610020 transparent;
    scrollbar-width: thin;
}

#profileBrowser::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
    /* or add it to the track */
}

#profileBrowser::-webkit-scrollbar-thumb {
    background-color: #610020;
}

.frame{
    padding: 0;
    margin: 0;
}

#filter-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: min-content;
    max-height: 800px;
}
app-profile-preview{
    align-self: flex-start;
}