<div class="row col-12 temp frame">
    <!-- Sidebar for filtering -->
    <div id="filter-sidebar" class="container col-2 row bg-light p-3 m-0">
        <h2 class="text-center my-0 p-0">Suche</h2>
        <hr class="my-1">
        <!-- Formular for searching/filtering profiles -->
        <form [formGroup]="searchForm" class="my-2 p-0">
            <div class="form-group">
                <input type="text" class="form-control my-1" placeholder="Nach Name suchen" formControlName="name">
                <!-- <input type="text" class="form-control" placeholder="Nach Job suchen" formControlName="job"> -->
            </div>
        </form>
    </div>
    <!-- Profile browser -->
    <div class="col-8 row justify-content-center">
        <div id="profileBrowser" class="container col-8 row bg-light p-3 align-center">
            <h2 class="text-center">{{profileList.length}} mögliche Mitarbeiter</h2>
            <app-profile-preview *ngFor="let profile of profileList" [profilePreviewData]="profile">
            </app-profile-preview>

        </div>
    </div>
</div>