#profile-preview {
    min-height: 7.4rem;
}

.profile-preview-picture {
    border-radius: 50% 0 0 50%;
    width: 100%;
    height: 100%;
}

#initialImage {
    font-size: 4.5rem;
    color: #cd567d;
    /* color: #ccc; */
}

#imageWrapper {
    border: solid 1px #000;
    box-sizing: border-box;
    background-color: #610020;
}

#fullName {
    color: #7e002a;
}

/*######### SKILL-RATING  */

#skillRating{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#skillWrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#skill {
    font-size: 1.05rem;
    max-height: 1rem;
}
.ratingEmpty {
    background-color: #ccc;
    border: solid 1px #888;
    align-self: auto;
    width: .4rem;
    height: 1.2rem;
    border-radius: .4rem;
}

.rating {
    background-color: #610020;
    border: none;
}