<div id="profile-preview" class="container row p-0 my-2 mx-0 bg-white"
    [routerLink]="['/skillprofilePreview', profilePreviewData.accountInfo.username]">
    <div class="col-12 row m-0 p-2 border-dark border justify-content-between">
        <!-- <div id="imageWrapper" class="col-2 row align-items-center p-0 m-0"> -->
        <!-- <div id="initialImage" class="text-center"> -->
        <!-- <p class="p-0 m-0"> -->
        <!-- {{profilePreviewData.accountInfo.firstname.charAt(0)}}{{profilePreviewData.accountInfo.surname.charAt(0)}} -->
        <!-- </p> -->
        <!-- </div> -->
        <!-- </div> -->
        <div id="infoWrapper" class="col-6 row">
            <a id="fullName" [routerLink]="['/skillprofilePreview', profilePreviewData.accountInfo.username]"
                class="mb-1 underlined h3">
                {{profilePreviewData.accountInfo.firstname}}
                {{profilePreviewData.accountInfo.surname}}</a>
            <p id="jobTitle" class="m-0"><b>Job:</b> {{profilePreviewData.skillprofile.general.job}}</p>
            <p id="location" class="m-0"><b>Standort:</b> {{profilePreviewData.skillprofile.general.city}}</p>
        </div>
        <div id="skillWrapper" class="col-6 row p-0 m-0">
            <div id="skill" class="col-12 row mb-1 mx-0 p-0 justify-content-end" *ngFor="let skill of skillsArray">
                <p id="skillName" class="col-auto m-0 p-0">{{skill.skill}}</p>
                <!-- <div id="skillRating" class="col-3 m-0"> -->
                <!-- <div *ngFor="let point of ratingPoints" class="mb-1 ratingEmpty" -->
                <!-- [ngClass]="{'rating': point <= skill.rating}"></div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>