<footer class="footer bg-light">
    <hr>
    <div class="container" >
        <div class="row" id="mainfooter">
            <section class="col">
                <h2>Über uns</h2>
                <p>Unternehmen</p><p>Service</p><p>...</p>
            </section>
            <section class="col">
                <h2>Hilfe & Kontaktmöglichkeiten</h2>
                <p>Verifizieren des Accounts</p><p>Kontaktinfos</p><p>...</p>
            </section>
        </div>
        <div class="row" id="subfooter" >
            <a class="col text-center">Impressum</a> | <a class="col text-center">Copyright</a> | <a class="col text-center">AGB</a> | <a class="col text-center">Datenschutz</a> | <a class="col text-center">Richtlinien</a> 
        </div>
    </div>
    <br>
</footer>
