<div class="row">
    <div class="col">
        <div class="card shadow">
            <h2 class="card-header text-bg-dark">
                {{personalData.firstname}} {{personalData.surname}}
                 <span class="float-end" id="job"> {{info.job}}</span></h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-2 grey">Firma</div>
                    <div class="col-3">{{info.company}}</div>
                    <div class="col-3 offset-1 grey">Standort</div>
                    <div class="col-3">{{info.city}}</div>
                </div>
                <div class="row">
                    <div class="col-2 grey">Geb. Datum</div>
                    <div class="col-3">{{utilService.formatDate(personalData.birthday)}}</div>
                    <div class="col-3 offset-1 grey">Staatsangehörigkeit</div>
                    <div class="col-3">{{info.nationality}}</div>
                </div>
            </div>



            <div class="card-footer">
                <button class="btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#contactinfo">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/phone--v1.png"/>
                </button>

                <div class="modal fade" id="contactinfo">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h2 class="modal-header">
                                Kontaktinfo
                            </h2>
                            <div class="modal-body">
                                <h4>E-Mail: </h4> <span> {{personalData.username}}</span>
                                <hr>
                                <h4>Telefonnummer: </h4> <span> {{info.phone}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <button class="btn btn-outline-dark me-2"
                    onclick="window.location.href='https://about.gitlab.com/'">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/github.png"/>
                </button>
                <button class="btn btn-outline-dark me-2"
                    onclick="window.location.href='https://www.youtube.com/'">
                    <img src="https://img.icons8.com/ios-filled/24/000000/youtube-play.png"/>
                </button>
                <button class="btn btn-outline-dark me-2"
                    onclick="window.location.href='https://twitter.com/?lang=de'">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/twitter--v1.png"/>
                </button>
                <button class="btn btn-outline-dark me-2"
                    onclick="window.location.href='https://de.linkedin.com/'">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/linkedin-circled--v1.png"/>
                </button>
                <button class="btn btn-outline-dark me-2"
                    onclick="window.location.href='https://www.facebook.com/'">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/facebook-new.png"/>
                </button>
                -->
            </div>
        </div>
    </div>
</div>