<div class="container-fluid row p-0 r-0 justify-content-center">
    <div class="shadow card col-4">
        <div class="card-body p-3"><br>
            <h1 class="text-center">Willkommen zu Skillprofile</h1>
            <p class="text-center">Suche und finde die für dich passendsten Projektmitglieder...<br>
                was, wie, wo, wer, wozu <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam consectetur nam repellendus dolorem,
                quam
                quae quia facilis illum, similique temporibus accusamus quo adipisci omnis quidem voluptate in, fugit
                doloremque? Nesciunt commodi dignissimos quasi. Ea dolorum qui similique nemo cumque, aspernatur ratione
                ducimus unde deleniti dolore sunt, nostrum illum eveniet magni. Ducimus adipisci dolorum voluptas
                blanditiis
                iure eos soluta reprehenderit corrupti pariatur perspiciatis incidunt, numquam ut! Optio, iusto. Amet
                expedita culpa deleniti placeat at id dolorum ipsum nam facere doloremque voluptas quos illum
                consequatur
                sit corrupti veniam, eum sed dicta dolore porro quod impedit minima laudantium possimus. Harum quidem
                optio
                necessitatibus.
            </p>
            <div class="row justify-content-center">
                <div class="text-center p-4">
                    <button routerLink="/login" class="btn btn-outline-danger p-4 shadow">Anmelden</button>
                    <button routerLink="/registration"
                        class="btn btn-outline-danger offset-1 p-4 shadow">Registrieren</button>
                </div>
            </div>
        </div><br>
    </div>
</div>